.login-page {
    display: flex;
    height: 100vh;
}

.image-container {
    flex: 35%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-container {
    flex: 40%;
    display: flex;
    justify-content: center;
    margin-top: 4.5rem;
}

.form-sub-container {
    width: 60%;
    text-align: left;
}

.title-container {
    margin-top: 5.4rem;
}

.title-text {
    font-size: 3.4rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    color: var(--text-color);
}

.social-login {
    display: flex;
    justify-content: space-between;
}

.form-sub-container-form {
    margin-top: 3rem;
}


.dont-have-account-text {
    margin-top: 3.0rem;
    color: var(--text-color);
    font-size: 1.33rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.signup-text {
    color: var(--primary-color);
    font-size: 1.33rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
}

/* Define font sizes for different screen sizes */
@media (max-width: 600px) {
    .form-sub-container {
        width: 90%;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .form-sub-container {
        width: 86%;
    }
}

@media (min-width: 1025px) {
    .form-sub-container {
        width: 60%;
    }
}